{
   "presets": [
     "next/babel",
     "@babel/env",
     "@babel/preset-react",
   ],
   "plugins": [
        "@babel/plugin-proposal-do-expressions",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime"
   ]
 }