/clover.xml
/coveralls-upload.json
/phpunit.xml
/vendor/
/.settings
/.buildpath
/.project
/composer.lock
/node_modules
/*-lock.json
/.php_cs
/.php_cs.cache
/public/*.css
/public/*.js
/public/assets
/public/favicon.ico
/.wwp-cache
/src/React/scss/*.scss
/public/dist/*
/public/dist
/public/storage/uploads/*
/.cache
/.next
/out
/public/_next
/resources/templates/app/site
/resources/templates/app/site_base.html.twig
/src/*.7z
/*.7z
/public/storage
/modules/App/options/*.php
/config/autoload/security.local.php
