/clover.xml
/coveralls-upload.json
/phpunit.xml
/vendor/
/.settings
/.buildpath
/.project
/composer.lock
/node_modules
/*-lock.json
/.php_cs
/.php_cs.cache
/public/*.css
/public/*.js
/public/assets
/public/favicon.ico
/.wwp-cache
/src/React/scss/*.scss
/public/dist/*
/public/dist
/public/storage/uploads/*
/.cache
/.next
/out
