@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~react-bootstrap-table/css/react-bootstrap-table.css";
@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.css";
@import "~react-bootstrap-table2-filter/dist/react-bootstrap-table2-filter.css";
@import "~react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.css";
@import "~react-bootstrap-table2-toolkit/dist/react-bootstrap-table2-toolkit.css";
@import "~alertifyjs/build/css/alertify.min.css";
@import "./variables";
@import "~@coreui/coreui/scss/coreui.scss";
@import "./_custom.scss";
@import "../common";