<!doctype html>
<html lang="{{ html_lang }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="csrf-token" content="{{ __csrf }}" />
<title></title>
<link rel="icon" href="/dist/favicon.ico"><link href="/dist/15.7f9213be7dbac95958df.bundle.css" rel="stylesheet"></head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="fb-root"></div>
  <div id="root"></div>
  {% if page_json_config is defined %}
  {% autoescape false %}
  <script type="text/javascript">var pageConfig = {{ page_json_config|json_encode(constant('JSON_UNESCAPED_SLASHES'))}};</script>
  {% endautoescape %}
  {% endif %}
<script src="/dist/vendors~admin~site.2c7005f7ee72a012f377.14.js"></script><script src="/dist/15.529d3f50d200ea13b69d.15.js"></script><script src="/dist/site.1b113e8ed81e655548bb.bundle.js"></script></body>
</html>
