{% if site_base %}
{% include site_base %}
{% else %}
<!doctype html>
<html lang="{{ html_lang }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="csrf-token" content="{{ __csrf }}" />
<link rel="shortcut icon" href="/assets/icons/favicon.ico" />
<title></title>
</head>
<body>
    <h2>請繼續加油.....</h2>
</body>
</html>
{% endif %}